@import './variables.scss';

.emails{
    margin-right: 40px;
    margin-left: 65px;
    list-style : none;   
    border: 1px solid #C3C2CF;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    height: 90px;
    overflow-y: scroll;
    scrollbar-width: thin;
    font-size: 14px;
    background:#fff;
    width: 600px;

    ::-webkit-scrollbar{
        width: 0;
    }

    &-valid{
        background: $semi-blue;
        border-radius: 100px;
        padding: 2px 2px 0px 8px;
        display: block; 
        margin: 3px;
        height: 22px;
        position: relative;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        text-align: right;
        color: $black;
    }

    &-invalid{
        border-bottom: 1px dashed $error;
        padding: 2px 0px 0px 2px;
        display: block; 
        margin: 3px 7px 3px 5px;
        height: 22px;
        position: relative;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        text-align: right;
        color: $black;
    }

    &-new {
        width: 100%;
        flex: 1;
        input[type="text"]{
            border: 0;
            width: 100%;
            min-width: 120px;
            margin: 0;
            padding: 0 0 0 3px;
            font-size: 14px;
            margin-top: 5px;
            background:transparent;
        }
    } 
    li {
        
        float:left;
    }
}

li {
    button {
        color: $black;
        font-weight: bold;
        float: right;
        margin-top: 1px;
        background-color: transparent;
        border: none;
    }
    button:hover{
        cursor: pointer;
        opacity: .9;
    }

}


.lightened-delete{
    background-color: $error !important;
    color: #fff;
    button {
        color: #fff;
    }
}